@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar {
      scrollbar-width: thick;
      scrollbar-color: #32394E #1A2135;
    }
  
    .scrollbar::-webkit-scrollbar {
      width: 8px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background: #1A2135;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background-color: #2A3759;
      border-radius: 10px;
      border: 2px solid transparent;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background-color: #2A3759;
    }
  }
  